.css-1okebmr-indicatorSeparator {
  background-color: transparent !important;
}

.select__placeholder.css-14el2xx-placeholder {
  color: #212529;
}

.checkbox-invalid-feedback {
  margin-left: -24px;
}